<article>
{% assign ep = include.ep %}
{% capture mp3 %}/audio/{{ ep.number }}.mp3{% endcapture %}
{% capture ogg %}/audio/{{ ep.number }}.ogg{% endcapture %}
{% capture synopsis %}{{ site.name }} #{{ ep.number }}: “{{ ep.title }}”{% endcapture %}
{% capture link %}{{ site.url }}{{ ep.number }}{% endcapture %}
{% capture newline %}
{% endcapture %}
{% assign excerpt = ep.content | split: newline | first %}
<h2><a href="{{ ep.url }}">
    #{{ ep.number }}: {{ ep.title }}
</a></h2>
<ul class="details">
    <li class="date">
        <a href="http://www.billboard.com/charts/{{ ep.week }}/hot-100">
            <span class="octicon octicon-calendar"></span>
            week of {{ ep.week | date: "%B %d, %Y" }}
        </a>
    </li>
    <li class="download"><a href="{{ mp3 }}" download>
        <span class="octicon octicon-playback-play"></span>
        MP3
    </a></li>
    {% if ep.soundcloud %}
    <li><a href="{{ ep.soundcloud }}">
        <span class="octicon octicon-cloud-download"></span>
        SoundCloud
    </a></li>
    {% endif %}
    <li>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        <a href="https://twitter.com/intent/tweet?text={{ synopsis | cgi_escape }}&url={{ link | cgi_escape }}">
            <span class="octicon octicon-link-external"></span>
            tweet
        </a>
    </li>
    <li>
        <a href="http://huffduffer.com/add?bookmark[url]={{ link | cgi_escape }}&bookmark[title]={{ synopsis | cgi_escape }}&bookmark[description]={{ excerpt | markdownify | strip_html | strip_newlines | cgi_escape }}&bookmark[tags]={{ site.data.podcast.keywords | cgi_escape }}">
            <span class="octicon octicon-megaphone"></span>
            huffduff
        </a>
    </li>
</ul>
<div class="player">
    <audio controls preload="metadata">
        <source src="{{ mp3 }}" type="audio/mpeg">
        <source src="{{ ogg }}" type="audio/ogg">
    </audio>
</div>
<div class="description">
    {{ ep.content | markdownify }}
</div>
</article>
