<article>
{% assign ep = include.ep %}
{% capture mp3 %}/audio/{{ ep.number }}.mp3{% endcapture %}
{% capture ogg %}/audio/{{ ep.number }}.ogg{% endcapture %}
<h2><a href="{{ ep.url }}">
    #{{ ep.number }}: {{ ep.title }}
</a></h2>
<ul class="details">
    <li class="date">week of {{ ep.date | date: "%B %d, %Y" }}</li>
    <li class="download"><a href="{{ audio }}" download>
        <span class="octicon octicon-playback-play"></span>
        MP3
    </a></li>
    {% if ep.soundcloud %}
    <li><a href="{{ ep.soundcloud }}">
        <span class="octicon octicon-cloud-download"></span>
        SoundCloud
    </a></li>
    {% endif %}
</ul>
<div class="player">
    <audio controls preload="metadata">
        <source src="{{ mp3 }}" type="audio/mp3">
        <source src="{{ ogg }}" type="audio/ogg">
    </audio>
</div>
<div class="description">
    {{ ep.content | markdownify }}
</div>
</article>
