<article>
{% assign ep = include.ep %}
{% capture audio %}/audio/{{ ep.number }}.mp3{% endcapture %}
<h2><a href="{{ ep.url }}">
    #{{ ep.number }}: {{ ep.title }}
</a></h2>
<ul class="details">
    <li class="date">week of {{ ep.date | date: "%B %d, %Y" }}</li>
    <li class="download"><a href="{{ audio }}" download>download MP3</a></li>
</ul>
<div class="player">
    <audio src="{{ audio }}" type="audio/mp3" controls
        preload="metadata">
    </audio>
</div>
<div class="description">
    {{ ep.content | markdownify }}
</div>
</article>
