@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/octicons/octicons/octicons.less";

// Un-link-like headers.
header h1, article h2 {
    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }
}

audio {
    width: 100%;
}

// Column structure.
#middle {
    .make-row();
}
main {
    .make-md-column(8);
    .make-sm-column(8);
}
nav {
    .make-md-column(4);
    .make-sm-column(4);
}
