<!DOCTYPE html>
<html>
<head>
    <title>
        {{ site.name }}{% if page.number %} #{{ page.number }}{% endif %}{% if page.title %}: {{ page.title }}{% endif %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="/icon152.png" sizes="152x152" href="touch-icon-ipad-retina.png">

    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/main.css">
    <link rel="alternate" type="application/rss+xml"
        href="/{{ site.feed }}" title="Podcast">
</head>
<body>
<div class="container">
    {% assign pc = site.data.podcast %}
    <header>
        <h1>
            <a href="/">{{ site.name }}</a>
        </h1>
    </header>

    <div id="middle">
        <nav>
            <ul>
                <li>
                    {{ pc.subtitle | markdownify }}
                </li>
                <li>
                    <a href="/{{ site.feed }}">
                        <span class="octicon octicon-rss"></span>
                        Subscribe with RSS
                    </a>
                </li>
                {% if pc.itunes %}
                <li>
                    <a href="{{ pc.itunes }}">
                        <span class="octicon octicon-broadcast"></span>
                        Subscribe in iTunes
                    </a>
                </li>
                {% endif %}
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                <li>
                    Follow
                    {% assign index = 0 %}{% for name in pc.twitter %}{% assign index = index | plus: 1 %}
                        <a href="https://twitter.com/intent/user?screen_name={{ name | cgi_escape }}">@{{ name }}</a>{% if pc.twitter.size > 1 %}{% if index < pc.twitter.size %},{% endif %}{% endif %}
                    {% endfor %}
                </li>
                <li class="art">
                    {% if pc.itunes %}<a href="{{ pc.itunes }}">{% endif %}
                        <img src="/{{ pc.image }}" class="img-responsive"
                            alt="{{ site.name }}">
                    {% if pc.itunes %}</a>{% endif %}
                </li>
            </ul>
        </nav>
        <main>
            {{ content }}
        </main>
    </div>

    <footer>
    </footer>

</div>

<!-- Google analytics. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54605815-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
