<!DOCTYPE html>
<html>
<head>
    <title>
        {{ site.name }}{% if page.number %} #{{ page.number }}{% endif %}{% if page.title %}: {{ page.title }}{% endif %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/main.css">
    <link rel="alternate" type="application/rss+xml"
        href="/{{ site.feed }}" title="Podcast">
</head>
<body>
<div class="container">

    <header>
        <h1>
            <a href="/">{{ site.name }}</a>
        </h1>
    </header>

    <div id="middle">
        <main>
            {{ content }}
        </main>
        <nav>
            <ul>
                <li>
                    {{ site.data.podcast.description | markdownify }}
                </li>
                <li>
                    <a href="/{{ site.feed }}">
                        <span class="octicon octicon-rss"></span>
                        Subscribe with RSS
                    </a>
                </li>
                {% if site.data.podcast.itunesurl %}
                <li>
                    <a href="{{ site.data.podcast.itunesurl }}">
                        <span class="octicon octicon-broadcast"></span>
                        Subscribe in iTunes
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <footer>
    </footer>

</div>
</body>
</html>
